__pycache__/
.venv/
.env
*.csv
*.xlsx
*.json
*.jsonl
*.log
*.sqlite3
chrome_profile_linkedin/
*.zip
import_linkedin_jsonl.py
l.py
test.ipynb
*.ipynb
*.svgư
company.py
congbott.py
daunet.py
typesence.py
company_stock.py
masothue.py
!company.csv
*.pbix
