LINKEDIN_USERNAME = abc@gmail.com
LINKEDIN_PASSWORD = abc
ITVIEC_EMAIL = "abc@gmail.com"
ITVIEC_PASSWORD = "abc"
GROQ_API_KEY="gsk_..."
DATABASE_URL=postgresql://postgres:123456@localhost:5432/recruitment_dw
DB_PASSWORD="123456"
